@media screen and (max-width: 400px) {
    .header__menu {
        display: none;
    }
    .header__logo img {
        width: 50px;
        padding-left: 14px;
    }
    .wrapper {
        max-width: 340px;
        padding: 20px 10px;
    }
    .header__top {
        padding-top: 20px;
    }
    .header__title {
        text-align: center;
        margin-top: 203px;
        max-width: 500px;
        width: 265px;
    }

    .header__title h2 {
        font-size: 30px;
        line-height: 34px;
        color: #D67E35;
    }
    .header__title h1 {
        font-size: 40px;
        line-height: 46px;
        color: #D67E35;
    }
    .header__title p {
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }
    .header__title p::before,
    .header__title p::after {
        display: none;
    }
    .nav__btn_mobile {
        display: flex;
    }
    .header__main {
        display: flex;
        justify-content: center;
        align-items: center;
        /*margin-top: 1px;*/
    }
    .header__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__box1 {
        width: 290px;
        height: 276px;
        background: #FFFFFF;
        border: 3px solid darkred;
        margin-bottom: 150px;
    }
    .header__box2 {
        width: 290px;
        height: 276px;
        background: #FFFFFF;
        border: 3px solid darkred;
        margin-bottom: 150px;
    }
    .header__box3 {
        width: 290px;
        height: 276px;
        background: #FFFFFF;
        border: 3px solid darkred;
        margin-bottom: 150px;
    }
    .text1 {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        font-weight: normal;
        font-size: 22px;
        line-height: 25px;
        text-align: center;
        color: #656363;
    }
    .header__general {
        display: flex;
        flex-direction: column;
    }
    .header__mask {
        padding-top: 5px;
        display: flex;
        justify-content: center;
        height: 106px;
    }
    .header__history {
        width: 300px;
        margin-left: 50px;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__history h1 {
        margin-top: 20px;
        font-weight: normal;
        font-size: 40px;
        line-height: 46px;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__product {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-top: 50px;
    }
    .header__photo img {
        width: 350px;
        height: 250px;
        margin-left: 20px;
        margin-top: 50px;
    }







    .header3 {
        margin-top: 750px;
        display: flex;
        flex-direction: column;

    }
    .box3 {
        padding-top: -100px;
    }
    .box3 h1 {
        font-size: 30px;
        line-height: 34px;
        text-align: center;
        color: #D67E34;
        margin-top: -40px;
    }
    .box3 h5 {
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        color: #FFFFFF;
    }
    .box3_1 {
        display: flex;
        justify-content: center;
        margin-top: -100px;
    }
    .button3_1 {
        margin-top: 70px;
    }








    .header4 {
        display: flex;
        flex-direction: column;
    }
    .header4 h1 {
        font-size: 40px;
        line-height: 46px;
    }
    .header4_1 {
        display: flex;
        flex-direction: column;
    }
    .header4_1_1 {
        width: 800px;
        height: 474px;
        display: flex;
    }
    .header4_1_2_0 {
        display: flex;
        flex-direction: row;
    }
    .header4_1_2 {
        margin-left: 0;
        margin-top: 30px;
    }
    .header4_1_2_1 {
        width: 140px;
        height: 110px;
    }
    .header4_1_2_1 img {
        width: 140px;
        height: 110px;
    }

    .header4_1_2_2 {
        width: 140px;
        height: 110px;
    }
    .header4_1_2_2 img {
        width: 140px;
        height: 110px;
    }
    .text4_1_3 {
        display: flex;
        flex-direction: column;
    }
    .text4_1_3 h5 {
        font-size: 22px;
        line-height: 25px;
        color: #000000;
        margin-left: 10px;
    }
    .text4_1_3 h3 {
        font-size: 22px;
        line-height: 25px;
        color: #000000;
        margin-left: 10px;
    }
    .text4_1_3 h4 {
       display: none;
    }
    .text4_1_4 {
        display: flex;
        flex-direction: column;
        margin-top: 90px;
    }
    .text4_1_4 h5 {
        font-size: 22px;
        line-height: 25px;
        color: #000000;
        margin-left: 10px;
    }
    .text4_1_4 h3 {
        font-size: 22px;
        line-height: 25px;
        color: #000000;
        margin-left: 10px;
    }
    .text4_1_4 h4 {
        display: none;
    }
    .text4_1_5 {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
    }
    .text4_1_5 h5 {
        font-size: 22px;
        line-height: 25px;
        color: #000000;
        margin-left: 10px;
    }
    .text4_1_5 h3 {
        font-size: 22px;
        line-height: 25px;
        color: #000000;
        margin-left: 10px;
    }
    .text4_1_5 h4 {
        display: none;
    }
    .header5 {
        margin-top: 300px;
    }
    .box5_0 {
        display: flex;
        flex-direction: column;
    }
    .box5_1 {
        width: 290px;
        display: flex;
        flex-direction: column;
        margin-left: 55px;
    }
    .screen5_1 {
        margin-left: 32px;
        /*display: flex;*/
        /*justify-content: center;*/
    }
    .button5_1 {
        margin-left: 35px;
    }
    .box5_2 {
       display: none;
    }
    .box5_3 {
        display: none;
    }
    .text6_1 {
        margin-bottom: 100px;
    }
    .button7_1 h1 {
        font-size: 40px;
        line-height: 46px;
    }
    .box7_2 {
        display: flex;
        flex-direction: column;
    }
    .box7_2_1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box7_2_1_1 img {
        width: 250px;
        height: 250px;
    }
    .box7_2_1_2 {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .box7_2_1_2_2 {
        margin-left: 0;
        margin-top: 30px;
    }
    .box7_2_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .box7_2_2_2 {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .box7_2_2_2_2 {
        margin-left: 0;
        margin-top: 30px;
    }
    .box7_2_2_3 img {
        width: 250px;
        height: 250px;
    }
    .button7_3 h1 {
        font-size: 40px;
        line-height: 46px;
    }
    .box7_4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box7_4_1 img {
        width: 288px;
        height: 380px;
    }
    .box7_4_2 img {
        width: 288px;
        height: 380px;
        margin-top: 30px;
    }
    .box7_4_3 img {
        width: 288px;
        height: 380px;
        margin-top: 30px;
    }
    .header8 {
        margin-top: 1370px;
    }
}