html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 100%;*/
  /*font: inherit;*/
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Tinos', serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.header {
    height: 100vh;
    background: url("image/bg.png") no-repeat center/cover;
}
.header__top {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__item img {
    width: 20px;
}
.nav {
    display: flex;
    column-gap: 23px;
    flex-direction: row;
}
.nav__item a {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    /*text-decoration - none;*/
}
.header__menu {
    display: flex;
    align-items: center;
    height: 70px;
    column-gap: 35px;
}
.header__phone {
    /*font-style: normal;*/
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 155px;
    border-left: 2px solid #ffff;
    padding-left: 20px;
}
.header__contact {
    display: flex;
    align-items: center;
}
.header__button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    background: #FF7400;
    padding: 0 19px;
    height: 47px;
    margin-left: 45px;
    border: none;
}
.header__title h2 {
    font-weight: normal;
    font-size: 50px;
    line-height: 57px;
    margin-left: 24px;
}
.header__title h1 {
    font-size: 80px;
    line-height: 92px;
}
.header__title p {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 50px;
}
.header__title {
    font-weight: normal;
    margin-top:120px;
    margin-left: 175px;
    color: #D67E35;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 200px;
}
.header__title p::before,
.header__title p::after {
    display: block;
    content: "";
    width: 61px;
    height: 2px;
    background: #C4C4C4;
    margin-right: 10px;
    margin-left: 10px;
    /*margin-left: 50px;*/
}
.header__main .header__button {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__btn_mobile {
    display: none;
    width: 30px;
    flex-direction: column;
    row-gap: 4px;
}
.nav__btn_mobile div {
    height: 3px;
    background: #FF7400;
    border-radius: 50px;
}
.header2 {
    height: 100vh;
    background: #FFFFFF;
}
.header__box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.header__box1 {
    width: 349px;
    height: 328px;
    background: #FFFFFF;
    border: 3px solid darkred;
    margin-top: -120px;
}
.header__box2 {
    width: 349px;
    height: 328px;
    background: #FFFFFF;
    border: 3px solid darkred;
    margin-top: -120px;
}
.header__box3 {
    width: 349px;
    height: 328px;
    background: #FFFFFF;
    border: 3px solid darkred;
    margin-top: -120px;
}
.header__mask {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    height: 126px;
}
.header__box1 h5 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
}
.header__box2 h5 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
}
.header__box3 h5 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
}
.text1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #656363;
}
.header__history {
    width: 450px;
    margin-left: 250px;
    margin-top: 200px;
}
.header__history h1 {
    margin-top: 20px;
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text2 {
    margin-top: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #656363;
}
.header__product {
    display: flex;
    flex-direction: row;
    margin-left: 350px;
    margin-top: 80px;
}

.header__product1 h1 {
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #BC9060;
    margin-right: 20px;
}
.header__product1 h5 {
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    margin-right: 20px;
}

.header__product2 h1 {
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #BC9060;
    margin-right: 20px;
}
.header__product2 h5 {
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    margin-right: 20px;
}

.header__product3 h1 {
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #BC9060;
}
.header__product3 h5 {
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}
.header__general {
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;*/
}
.header__photo img {
    width: 500px;
    height: 600px;
    margin-top: 200px;
    margin-left: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header3 {
    height: 350px;
    background: #000000;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box3 {
    padding-top: 80px;
}
.box3 h1 {
    font-size: 52px;
    line-height: 60px;
    color: #D67E34;
}
.box3 h5 {
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    margin-top: 20px;
}
.button3_1 {
    width: 157px;
    height: 47px;
    background: #FF7400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 155px;
}
.button3_1 h5 {
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.header4 {
    background: #FFFFFF;
    height: 1000px;
}
.header4 h1 {
    font-size: 54px;
    line-height: 62px;
}
.button4 {
    display: flex;
    justify-content: center;
    margin-top: 132px;
}
.header4_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 140px;
    /*margin-left: 380px;*/
}
.header4_1_2_0 {
    display: flex;
    flex-direction: row;
}
.header4_1_2 {
    margin-left: 24px;
}
.header4_1_2_2 {
    margin-top: 24px;
}
.text4_1_3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 40px;
    margin-top: 60px;
}
.text4_1_3 h5 {
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    margin-left: 10px;
}
.text4_1_3 h4 {
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    margin-left: 10px;
}
.text4_1_3 h3 {
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    margin-left: 10px;
}




.text4_1_4 {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 120px;
}
.text4_1_4 h5 {
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    margin-left: 10px;
}
.text4_1_4 h4 {
     font-size: 26px;
     line-height: 30px;
     color: #000000;
     margin-left: 10px;
 }
.text4_1_4 h3 {
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    margin-left: 10px;
}







.text4_1_5 {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 120px;
}
.text4_1_5 h5 {
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    margin-left: 10px;
}
.text4_1_5 h4 {
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    margin-left: 10px;
}
.text4_1_5 h3 {
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    margin-left: 10px;
}



.header5 {
    height: 100vh;
    background: url("image/bar.png") no-repeat center/cover;

}
.header5 h1 {
    font-size: 54px;
    line-height: 62px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.box5_0 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 140px;
}
.box5_1 {
    width: 350px;
    height: 510px;
    background: #FFFFFF;
}
.rectangle5_1 {
    width: 124px;
    height: 36px;
    background: #D67E34;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rectangle5_1 h5 {
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}
.screen5_1 {
    margin-left: 65px;
    /*display: flex;*/
    /*justify-content: center;*/
}
.screen5_1 img {
    border-radius: 50%;
    margin-top: 45px;
}
.text5_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text5_1 h2 {
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    margin-top: 20px;
}
.text5_1 h4 {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-top: 15px;
}
.button5_1 {
    width: 220px;
    height: 50px;
    background: #D67E34;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 65px;
    margin-top: 20px;
}
.button5_1 h3 {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.box5_2 {
    width: 350px;
    height: 510px;
    background: #FFFFFF;
}
.screen5_2 {
    display: flex;
    justify-content: center;
}
.screen5_2 img {
    border-radius: 50%;
    margin-top: 80px;
}
.text5_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text5_2 h2 {
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    margin-top: 20px;
}
.text5_2 h4 {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-top: 15px;
}
.button5_2 {
    width: 220px;
    height: 50px;
    background: #D67E34;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 65px;
    margin-top: 20px;
}
.button5_2 h3 {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.box5_3 {
    width: 350px;
    height: 510px;
    background: #FFFFFF;
}
.screen5_3 {
    display: flex;
    justify-content: center;
}
.screen5_3 img {
    border-radius: 50%;
    margin-top: 80px;
}
.text5_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text5_3 h2 {
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    margin-top: 20px;
}
.text5_3 h4 {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-top: 15px;
}
.button5_3 {
    width: 220px;
    height: 50px;
    background: #D67E34;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 65px;
    margin-top: 20px;
}
.button5_3 h3 {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.header6 {
    height: 550px;
    background: #E6E5E5;
    display: flex;
    justify-content: center;
}
.header6_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header6_1 h5 {
    padding-top: 100px;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}
.header6_photo  {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 50%;
}
.header6_photo img  {
    border-radius: 50%;
}
.text6_1 {
    margin-top: -50px;
}
.text6_1 h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    display: flex;
    justify-content: center;
}
.text6_1 h4 {
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    display: flex;
    justify-content: center;
}
.header7 {
    height: 2000px;
    background: #ffff;

}
.button7_1 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 54px;
    line-height: 62px;
}
.button7_1 h1 {
    font-size: 54px;
    line-height: 62px;
}
.box7_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}
.box7_2_1_2 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;

}
.box7_2_1_2_2 {
    margin-left: 30px;
}



.box7_2_2 {
    margin-left: 30px;
}
.box7_2_2_2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    /*padding-top: 30px;*/
}
.box7_2_2_3 img {

    margin-top: 30px;
}
.box7_2_2_2_2 {
    margin-left: 30px;
}

.button7_3 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.button7_3 h1 {
    font-size: 54px;
    line-height: 62px;
}
.box7_4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}
.header8 {
    height: 100vh;
    background: url("image/bottle.png") no-repeat center/cover;
    margin-top: -400px;
}
























